.container{
  margin-top: 10px;
max-width: 930px;
background-color:#cedbef;
 display: block; 
 border: 1px solid #5b669b;
  height: 500px;
  border-radius: 15px;
}
.title1{
  color:red;
  text-align: center;
  display: block;
  margin: auto;
}
.cardMain{
  margin-top: 20px;
  background-color:#e7e7e7;
  position: relative;
  left: 90px;
  height: 200px;
}
.form{
  margin-top: 20px;
  position: relative;
  left: 70px;
}
.info{
    list-style-type: none;
   padding: 0;
   position: relative;
   left: 380px;
   bottom: 110px;
}
.day1{
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  right: 60px;
}
.day2{
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  right: 60px;
}
.day3{
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  right: 60px;
}
.day4{
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  right: 60px;
}
.day5{
  margin-right: 0;
  margin-top: 20px;
  position: relative;
  right: 60px;
}
.temp {
  font-size: 40px;
}
.p{
  position:relative;
  top:20px;
right: 70px;
}
.units{
  position: relative;
  bottom: 20px;
}
#degreeF{
  color: black;
  text-decoration: none;
}
#degreeC{
  color: black;
  text-decoration: none;
}
#iconToday{
  position: relative;
  right: 20px;
  bottom: 20px;
}